@{
    ViewData["Title"] = "Авторизация";
}

<div class="d-flex justify-content-center align-items-start vh-100">
    <div class="col-md-4 mt-5">
        <h2 class="text-center">Авторизация</h2>
        <form asp-controller="Account" asp-action="Autorization" method="post">
            <div class="form-group">
                <label for="Username">Логин</label>
                <input type="text" class="form-control" id="Username" name="Username" required />
            </div>
            <div class="form-group">
                <label for="Password">Пароль</label>
                <input type="password" class="form-control" id="Password" name="Password" required />
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>